.show {
    display: block;
}

.hide {
    display: none;
}

#chatto {
    margin-left: 100px;
    font-family: 'Arvo', serif;
    color: #566270;
}

li, h2, p{
    list-style-type: none;
    font-family: 'Arvo', serif;
    color: #566270;

}



body {
    background-color: #E0E3DA;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    #usersbox, #messageContainer, #sendbox, #user-container, input[type="text"], input[type="text"]:focus, input[type="text"].focus{
	    width: 100%;
        margin: 1% 0 1% 0%;
	}
}

#usersbox {
    float: right;
    width: 150px;
    height: 400px;
    background-color: #A593E0;
    margin-right: 100px;
    border-radius: 20px;
}

#messageContainer {
    float: left;
    width: calc(100% - 400px);
    height: 400px;
    background-color: #FFFFF3;
    position: relative;
    overflow-y: scroll;
    margin-left: 100px;
    border-radius: 20px;
}

#sendbox {
    position: absolute;
    margin-left: 100px;
    bottom: 135px;
}

#user-container {
    margin-left: 100px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #A593E0;
  transition: border 0.3s;
  width: 715px;
  font-family: 'Arvo', serif;
  border-radius: 20px;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #E0E3DA;
  font-family: 'Arvo', serif;
  border-radius: 20px;
}
